body{
    font-family: 'Ubuntu', sans-serif;
}
.user > h6{
    font-weight: 600;
    font-size: 1rem;
}
.user_main{
    background-color: rgb(197, 197, 197);
}
.img-users{
    width: 25%;
}
.img-users img{
    width: 100%;
    border-radius: 50%;
}
.height{
    height: 100%;
}
.left-part,
.right-part{
    height: 100%;
}
.right-part{
    background-image: url(../img/mine.jpg);
}
#app{
    height: 100vh;
}
#head{
    background-color: rgb(51, 172, 152);
    height: 20%;
}
#main{
    background-color: rgb(213, 214, 214);
    height: 80%;
}
#window{
    background-color: white;
    height: 600px;
    transform: scale(1, 1.3);
}