body{
    font-family: 'Ubuntu', sans-serif;
}
a{
    color:gray;
    font-size: 0.6rem;
}
.nav li{
    display: inline-block;
    margin: 0 0.5rem;
}
.user > h6{
    font-weight: 600;
    font-size: 0.9rem;
}
.user_main{
    background-color: rgb(218, 218, 218);
}
.img-users{
    width: 3.4rem;
}
.img-users img{
    width: 100%;
    height: 1.7rem;
    border-radius: 50%;
}
.height{
    height: 100%;
}
.notify{
    background-color: skyblue;
}
.notify h6{
    font-size: 0.7rem;
}
.fa-bell-slash{
    color: skyblue;
    background-color: white;
    border-radius: 50%;
    font-size: 1.2rem;
    padding: 0.3rem;
}
.left-part,
.right-part{
    height: 100%;
}
.right-part{
    background-image: url(../img/mine.jpg);
}
.search-back{
    background-color: rgb(218, 218, 218);
}
.f-c{
    font-size: 0.7rem;
}
#app{
    height: 100vh;
}
#head{
    background-color: rgb(51, 172, 152);
    height: 20%;
}
#main{
    background-color: rgb(226, 226, 226);
    height: 80%;
}
#window{
    background-color: white;
    height: 600px;
    transform: scale(1, 1.3);
}