body{
    font-family: 'Ubuntu', sans-serif;
}
a{
    color:gray;
    font-size: 0.6rem;
}

.nav li,
ul li{
    display: inline-block;
    margin: 0 0.5rem;
    color: rgb(172, 172, 172);
}
.fas,
.far{
    color: rgb(172, 172, 172);
}
.user > h6{
    font-weight: 600;
    font-size: 0.9rem;
}
.user_main,
.current-contact,
.input-messages{
    background-color: rgb(218, 218, 218);
}
.text-input{
    font-size: 0.8rem;
    width: 75%;
}
.img-users img{
    width: 100%;
    height: 2.1rem;
    border-radius: 50%;
}
.height{
    height: 100%;
}
.notify{
    background-color: skyblue;
}
.notify h6{
    font-size: 0.7rem;
}
.fa-bell-slash{
    color: skyblue;
    background-color: white;
    border-radius: 50%;
    font-size: 1.2rem;
    padding: 0.3rem;
}
.left-part,
.right-part{
    height: 100%;
}
.right-part{
    border-left: 1px solid rgb(180, 180, 180) ;
    background-image: url(../img/mine.jpg);  
}
.contacts-box{
    background-color: white;
    overflow: auto;
}
    
.contact_messages{
    height: calc(100% - 49px);
    overflow: auto;
}
.search-back{
    background-color: rgb(245, 245, 245);
}
.f-c{
    font-size: 0.7rem;
}
.name-contacts{
    font-size: 0.8rem;
}
.users-box:hover{
    background-color: lightgray;
}
.sent-position{
    display: flex;
    justify-content: end;
}
.sent-position .message{
    background-color: rgb(195, 230, 130);
    border-radius: 5px;
}
.message{
    background-color: white;
    border-radius: 5px;
}
.message p{
    font-size: 0.9rem;
}
.date{
    font-size: 0.5rem;
    color: rgb(136, 136, 136);
    text-align: end;
}
#app{
    height: 100vh;
}
#head{
    background-color: rgb(51, 172, 152);
    height: 20%;
}
#main{
    background-color: rgb(226, 226, 226);
    height: 80%;
}
#window{
    background-color: white;
    height: 600px;
    transform: scale(1.1);
}